*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.4rem;
}

button {
  border: none;
}

input {
  border: none;
}

li {
  list-style: none;
}

a,
li,
button,
input {
  color: inherit;
  font: inherit;
}

.bg-section {
  background-color: #00000070;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
