#intro-page {
  background-image: url('../../assets/intro-page-bg.jpeg');
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#intro-page > *{
  z-index: 5;
}

#intro-page > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yugam-logo {
  width: 100px;
}

#register-btn {
  padding: 0.8rem 1.2rem;
  background: linear-gradient(180deg, #39383899 50%, #414345);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.expo-det-wrapper {
  margin: 2rem 4rem;
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ccc;
  position: relative;
}

.dce-logo {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 0;
}

.ind-expo-det {
  width: clamp(100px, 25vw, 250px);
  /* width: 25%; */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: clamp(1rem, 5vw, 2rem);
  background: linear-gradient(180deg, #c4c4c4 0%, rgba(177, 175, 175, 0) 100%);
  box-shadow: 3px 2px 10px #00000030, -3px -1px 5px #00000030;
}

.ind-expo-det:nth-child(2n) {
  background: linear-gradient(
    180deg,
    rgba(210, 35, 46, 0.75) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.ind-expo-det > p {
  text-align: center;
}

.ind-expo-det p:last-child{
  font-size: clamp(.8rem, 4vw, 1.4rem);
}

.ind-expo-det > :first-child {
  font-size: clamp(2rem, 8vw, 7rem);
  font-weight: 800; 
  margin-bottom: 0.5rem;
}

.ind-expo-det:last-child > p:first-child {
  font-size: clamp(2rem, 4vw, 3.25rem);
}

@media (max-width: 790px){
  .expo-det-wrapper{
    flex-direction: column;
  }

  .ind-expo-det {
    padding: .6rem;
  }

  .dce-logo {
    position: absolute;
    width: clamp(40px, 15vw, 150px);
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 790px){
  .expo-det-wrapper{
    padding-bottom: 2.4rem;
  }

}